
#title-section{
    background-image: url('../img/page.jpg');
    background-size : cover;
}

.container-fluid {
  padding: 0% 15%;
  
}


.uv{
   
    margin: 10px 20 px;
    padding: 10%;
 }

.title{
    padding: 1% 0% 0% 0%;
    font-size: 2rem;
    color: #faa307;
}
.first-line{
    font-size: 4rem;
}

.sub-line{
    color: #caf0f8;
    padding-bottom: 15%;
}

footer {
    
    height: 6%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

 div.img {
    content:url('../img/icons8-order-history-100.png');
 }
 div.img2 {
    content:url('../img/money-transfer-43-1126781.png');
 }
 div.img3 {
    content:url('../img/users.png');
 }
 .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }

 #features{
     padding: 2% 15%;
     
 }

 .features-box{
     text-align: center;
     padding-bottom: 0%;
 }

 button{
	border:none;
	border-radius: 8px;
	padding: 10px;
	background:#d90429; 
	color:white;
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
    padding-bottom: 2%;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#55a630;
}